// Variable overrides
$orange: #dd7f58;

// Bootstrap and BootstrapVue SCSS files
// @import "~bootstrap/scss/bootstrap.scss";
// @import "~bootstrap-vue/src/index.scss";

// General style overrides and custom classes
#__nuxt,#__layout{
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
}
